<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="redirect public" stopProcessing="true">
                    <match url="^src\/api(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="src/api/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>