@import "../../global.scss";
div {
  background-color: $background-darkgray;
  z-index: 1;
  position: relative;
  @include boxShadow(8);
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;

  h1 {
    color: $font-green;
  }
}
