$background-gray: #3c3f41;
$background-darkgray: #2b2b2b;
$background-darkgray-active: #171717;
$font-lighter-green: #629755a1;
$font-light-green: #629755;
$font-green: #78d561;
$font-gold: #e8b923;
$font-white: #adadad;

$shadow-bottom: 0 0 20px 0;