@import "../../global.scss";

.blue {
    color: #6095B9;
}
.yellow {
    color: #e7be6a;
}
.purple {
    color: #9776a9;
}
.orange {
    color: #ca732f;
}
.green {
    color: #6a8659;
}
.white {
    color: #b9b9b9;
}