#notification-container {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    top: 145px;
    flex-direction: column-reverse;
    z-index: 5;
}
.notification {
    display: none;
    text-wrap: normal;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    width: 385px;
    line-height: 1.5;
}
.notification-error {
    background-color: #ffcdd2;
}
.notification-warning {
    background-color: #ffecb3;
    opacity: 1;
    transition: opacity 3s;
}
#notification-composer-not-installed {

}
#notification-composer-not-installed p span {
    background-color: #dc3232;
    padding: 2px;
    border-radius: 2px;
    color: white;
}
#notification-data-dir-not-writable {

}
