@import "../../global.scss";
.nav-bar {
  background-color: $background-darkgray;
  box-shadow: $shadow-bottom;

  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100%;

  user-select: none;
}